lab-exercises/code/StarbucksOutletService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.starbucks.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2460="http://ws.starbucks.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.starbucks.com">
    <wsdl:documentation>StarbucksOutletService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2461="http://ws.starbucks.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.starbucks.com">
            <xs:import namespace="http://ws.starbucks.com/xsd"></xs:import>
            <xs:element name="updateOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="drinkName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="additions" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2461:Order"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPendingOrders">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPendingOrdersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2461:Order"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="lockOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="lockOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2461:Order"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doPayment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="amount" type="xs:double"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2461:PaymentStatus"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPayment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2461:Payment"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2461:Order"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="drinkName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="additions" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2461:Order"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.starbucks.com/xsd">
            <xs:complexType name="Order">
                <xs:sequence>
                    <xs:element minOccurs="0" name="additions" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="cost" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="drinkName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="locked" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaymentStatus">
                <xs:sequence>
                    <xs:element minOccurs="0" name="payment" nillable="true" type="ax2460:Payment"></xs:element>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Payment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPendingOrdersRequest">
        <wsdl:part name="parameters" element="ns:getPendingOrders"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPendingOrdersResponse">
        <wsdl:part name="parameters" element="ns:getPendingOrdersResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addOrderRequest">
        <wsdl:part name="parameters" element="ns:addOrder"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addOrderResponse">
        <wsdl:part name="parameters" element="ns:addOrderResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeOrderRequest">
        <wsdl:part name="parameters" element="ns:removeOrder"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeOrderResponse">
        <wsdl:part name="parameters" element="ns:removeOrderResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="lockOrderRequest">
        <wsdl:part name="parameters" element="ns:lockOrder"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="lockOrderResponse">
        <wsdl:part name="parameters" element="ns:lockOrderResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="doPaymentRequest">
        <wsdl:part name="parameters" element="ns:doPayment"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="doPaymentResponse">
        <wsdl:part name="parameters" element="ns:doPaymentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOrderRequest">
        <wsdl:part name="parameters" element="ns:getOrder"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOrderResponse">
        <wsdl:part name="parameters" element="ns:getOrderResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateOrderRequest">
        <wsdl:part name="parameters" element="ns:updateOrder"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateOrderResponse">
        <wsdl:part name="parameters" element="ns:updateOrderResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPaymentRequest">
        <wsdl:part name="parameters" element="ns:getPayment"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPaymentResponse">
        <wsdl:part name="parameters" element="ns:getPaymentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="StarbucksOutletServicePortType">
        <wsdl:operation name="getPendingOrders">
            <wsdl:input message="ns:getPendingOrdersRequest" wsaw:Action="urn:getPendingOrders"></wsdl:input>
            <wsdl:output message="ns:getPendingOrdersResponse" wsaw:Action="urn:getPendingOrdersResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addOrder">
            <wsdl:input message="ns:addOrderRequest" wsaw:Action="urn:addOrder"></wsdl:input>
            <wsdl:output message="ns:addOrderResponse" wsaw:Action="urn:addOrderResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeOrder">
            <wsdl:input message="ns:removeOrderRequest" wsaw:Action="urn:removeOrder"></wsdl:input>
            <wsdl:output message="ns:removeOrderResponse" wsaw:Action="urn:removeOrderResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="lockOrder">
            <wsdl:input message="ns:lockOrderRequest" wsaw:Action="urn:lockOrder"></wsdl:input>
            <wsdl:output message="ns:lockOrderResponse" wsaw:Action="urn:lockOrderResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doPayment">
            <wsdl:input message="ns:doPaymentRequest" wsaw:Action="urn:doPayment"></wsdl:input>
            <wsdl:output message="ns:doPaymentResponse" wsaw:Action="urn:doPaymentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOrder">
            <wsdl:input message="ns:getOrderRequest" wsaw:Action="urn:getOrder"></wsdl:input>
            <wsdl:output message="ns:getOrderResponse" wsaw:Action="urn:getOrderResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOrder">
            <wsdl:input message="ns:updateOrderRequest" wsaw:Action="urn:updateOrder"></wsdl:input>
            <wsdl:output message="ns:updateOrderResponse" wsaw:Action="urn:updateOrderResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPayment">
            <wsdl:input message="ns:getPaymentRequest" wsaw:Action="urn:getPayment"></wsdl:input>
            <wsdl:output message="ns:getPaymentResponse" wsaw:Action="urn:getPaymentResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StarbucksOutletServiceSoap11Binding" type="ns:StarbucksOutletServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getPendingOrders">
            <soap:operation soapAction="urn:getPendingOrders" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addOrder">
            <soap:operation soapAction="urn:addOrder" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeOrder">
            <soap:operation soapAction="urn:removeOrder" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="lockOrder">
            <soap:operation soapAction="urn:lockOrder" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doPayment">
            <soap:operation soapAction="urn:doPayment" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOrder">
            <soap:operation soapAction="urn:getOrder" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOrder">
            <soap:operation soapAction="urn:updateOrder" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPayment">
            <soap:operation soapAction="urn:getPayment" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StarbucksOutletServiceSoap12Binding" type="ns:StarbucksOutletServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getPendingOrders">
            <soap12:operation soapAction="urn:getPendingOrders" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addOrder">
            <soap12:operation soapAction="urn:addOrder" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeOrder">
            <soap12:operation soapAction="urn:removeOrder" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="lockOrder">
            <soap12:operation soapAction="urn:lockOrder" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doPayment">
            <soap12:operation soapAction="urn:doPayment" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOrder">
            <soap12:operation soapAction="urn:getOrder" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOrder">
            <soap12:operation soapAction="urn:updateOrder" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPayment">
            <soap12:operation soapAction="urn:getPayment" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StarbucksOutletServiceHttpBinding" type="ns:StarbucksOutletServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getPendingOrders">
            <http:operation location="getPendingOrders"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addOrder">
            <http:operation location="addOrder"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeOrder">
            <http:operation location="removeOrder"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="lockOrder">
            <http:operation location="lockOrder"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doPayment">
            <http:operation location="doPayment"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOrder">
            <http:operation location="getOrder"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOrder">
            <http:operation location="updateOrder"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPayment">
            <http:operation location="getPayment"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StarbucksOutletService">
        <wsdl:port name="StarbucksOutletServiceHttpSoap11Endpoint" binding="ns:StarbucksOutletServiceSoap11Binding">
            <soap:address location="http://172.17.42.1:9763/services/StarbucksOutletService.StarbucksOutletServiceHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="StarbucksOutletServiceHttpsSoap11Endpoint" binding="ns:StarbucksOutletServiceSoap11Binding">
            <soap:address location="https://172.17.42.1:9443/services/StarbucksOutletService.StarbucksOutletServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="StarbucksOutletServiceHttpsSoap12Endpoint" binding="ns:StarbucksOutletServiceSoap12Binding">
            <soap12:address location="https://172.17.42.1:9443/services/StarbucksOutletService.StarbucksOutletServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="StarbucksOutletServiceHttpSoap12Endpoint" binding="ns:StarbucksOutletServiceSoap12Binding">
            <soap12:address location="http://172.17.42.1:9763/services/StarbucksOutletService.StarbucksOutletServiceHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="StarbucksOutletServiceHttpsEndpoint" binding="ns:StarbucksOutletServiceHttpBinding">
            <http:address location="https://172.17.42.1:9443/services/StarbucksOutletService.StarbucksOutletServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="StarbucksOutletServiceHttpEndpoint" binding="ns:StarbucksOutletServiceHttpBinding">
            <http:address location="http://172.17.42.1:9763/services/StarbucksOutletService.StarbucksOutletServiceHttpEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>